HotMeals/TabTest/gen/com/example/tabtest/BuildConfig.java
*.class
*.cache
*.ap_
*.cache
*.apk
*.dex
*.class
*.jar

*.prefs

*.png

*.txt

*.java

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

*.index

.metadata/.plugins/org.eclipse.core.resources/.history/7d/e012e113c3f6001312d8a45c134c7921

.metadata/.plugins/org.eclipse.core.resources/.history/3c/107cc759c6f6001312d8a45c134c7921

*.snap

.metadata/.plugins/org.eclipse.core.resources/.history/74/e037491fc1f6001312d8a45c134c7921

.metadata/.plugins/org.eclipse.core.resources/.history/f2/b0ff1c95c6f6001312d8a45c134c7921

*.launch

*.resources

*.xml

*.xmi

*.dat

*.ini

*.class
